* {
    box-sizing: border-box;
}

.App {
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}

input {
    width: 250px;
    padding: 10px;
    margin-bottom: 12px;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    background: lightgrey;

}

.profile img {
    width: 200px;
    border-radius: 50%;
}
